---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Datetime from "@components/Datetime";
import type { MarkdownInstance } from "astro";
import type { Frontmatter } from "src/types";
import Card from "@components/Card";
import Disclaimer from "@components/Disclaimer";
import slugify from "@utils/slugify";

export interface Props {
  post: MarkdownInstance<Frontmatter>;
}

const { frontmatter, Content } = Astro.props.post;

const { title, author, description, ogImage, datetime, tags, disclaimer } =
  frontmatter;

const posts = await Astro.glob<Frontmatter>("../contents/**/*[!series].md");
const seriesPosts = posts.filter(
  ({ frontmatter: fm }) => fm.series == frontmatter.series
);

console.log(seriesPosts);
---

<Layout
  title={title}
  author={author}
  description={description}
  ogImage={ogImage}
>
  <Header />
  <div class="max-w-3xl mx-auto w-full px-2 flex justify-start mt-8"></div>
  <main id="main-content">
    <h1 class="post-title">{title}</h1>
    <Datetime datetime={datetime} size="lg" className="my-2" />

    {disclaimer && <Disclaimer />}

    <article id="article" role="article" class="mx-auto max-w-3xl mt-8 prose">
      <Content />
    </article>

    <div>
      <ul>
        {
          seriesPosts.map(
            ({ frontmatter }, index) =>
              index < 4 && (
                <Card
                  href={`/posts/${slugify(frontmatter)}`}
                  post={frontmatter}
                  secHeading={false}
                />
              )
          )
        }
      </ul>
    </div>
  </main>

  <Footer />
</Layout>

<style>
  main {
    @apply max-w-3xl mx-auto px-4 pb-12 w-full;
  }
  .post-title {
    @apply font-semibold text-2xl text-skin-accent;
  }
  .tags-container {
    @apply my-8;
  }
</style>
